
/*
    COL-SX
*/

.header-sx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 10px;
    line-height: 65px;
    border-right: 1px solid #d6d6d6;
    background-color: #eaeaea;
    vertical-align: middle;
}

.header-sx .my-img-name img{
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
}

.header-sx-btns i{
    margin: 5px;
    padding: 5px;
    transform: scale(1.3);
    color: #b1b1b1;
    cursor: pointer;
}

.ask-notifications{
    height: 75px;
    padding: 15px;
    background-color: #8edafc;
}

.ask-notifications i{
    padding: 15px 13px;
    border-radius: 50%;
    color: #8edafc;
    background-color: #ffffffe1;
}

.ask-notifications span{
    display: inline-block;
    margin-left: 5px;
}

.ask-notifications span a{
    font-size: 14px;
    color: rgb(129, 129, 129);
}

.search-bar-contacts{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #f0f0f0;
    height: 50px;
}

.search-bar-contacts i{
    border: 1px solid #d6d6d6;
    border-right: 0;
    color: #b1b1b1;
    background-color: white;
    padding: 10px 20px;
}

.search-bar-contacts input{
    height: 38px;
    width: calc(99% - 70px);
    padding: 5px;
    border: 1px solid #d6d6d6;
}

.last-chats{
    height: calc(100% - 65px - 75px - 50px);
    overflow-y: scroll;
}

.single-chat-with-contact{
    height: 80px;
    padding: 10px 20px;
    border-bottom: 0.2px solid #ababab;
}

.single-chat-with-contact .image-contact{
    float: left;
}

.single-chat-with-contact .image-contact img{
    height: 50px;
    border-radius: 50%;
}


.single-chat-with-contact .text-contact {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    width: calc(100% - 60px);
}

.single-chat-with-contact .text-contact p{
    display: flex;
    justify-content: space-between;
}

.text-contact p .time-date{
    font-size: 0.72rem;
    color: #a8a8a8;
}
/*------------------------------------------------ */
/*------------------------------------------------ */



/*
    COL-DX
*/
.header-dx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 10px;
    border-right: 1px solid #d6d6d6;
    background-color: #eaeaea;
    vertical-align: middle;
}

.header-dx .header-dx-active-contact img{
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;
    float: left;
}

.header-dx .header-dx-active-contact .active-user-header-info{
    float: left;
    margin-left: 10px;
}


.header-dx .header-dx-btns i{
    margin: 5px;
    padding: 5px;
    transform: scale(1.3);
    color: #b1b1b1;
    cursor: pointer;
}

/* Chat con il contatto */
.box-messages{
    width: 100%;
    height: calc(100% - 65px - 70px);
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}

.box-messages .container-chat{
    height: 100%;
    width: 100%;
    padding: 5% 7.5%;
    
}

.container-chat .a-message{
    position: relative;
    min-width: 40%;
    max-width: 60%;
    margin: 5px 0;
    border-radius: 13px;
    padding: 17px;
    background-color: white;
    clear: both;
}

.container-chat .a-message.sent{
    float: right;
    background-color: #D5F9BA;
}

.container-chat .a-message.received{
    float: left;
}

.container-chat .a-message .message-time{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 0.72rem;
    color: #B6BBBC;
}
/* --------------------------------------- */

.footer-dx{
    width: 100%;
    height: 70px;
    background-color: #f2ebe6;
}



.footer-dx .btn-emoji{
    float: left;
    height: 100%;
    width: 10%;
    font-size: 22px;
    line-height: 65px;
    text-align: center;
}

.footer-dx .btn-vocal-msg{
    float: left;
    height: 100%;
    width: 10%;
    font-size: 22px;
    line-height: 65px;
    text-align: center;
    cursor: pointer;
}

.footer-dx i{
    transform: scale(1.3);
    margin: auto 10px;
    vertical-align: middle;
    color: #696765;
    cursor: pointer;
}

.footer-dx input{
    float: left;
    width: 80%;
    height: 50px;
    margin: 10px 0;
    padding: 15px;
    border-radius: 6px;
    border: 0;
    font-size: 15px;
}